* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, h1 {
    color: aliceblue;
}

/* ------------------------------------ LOGO --------------------------------- */

#logo {
    float: right;
    font-size: 130%;
    letter-spacing: normal;
    color: aliceblue;
    margin: 0 50px;
}

.darkmagenta {
    color: darkmagenta;
}

/* ------------------------------------ NAVBAR --------------------------------- */

#menu {
    font-size: 115%;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    font-size: 1.3em;
}

#menu a {
    text-decoration: none;
    color: aliceblue;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 3px solid darkmagenta;
}

.active {
    border-bottom: 2px solid aliceblue;
}

/* ------------------------------------ MAIN IMAGE AND WELCOME TEXT --------------------------------- */

#drive-in {
    height: 600px;
    width: 100%;
    background: url('../images/drive-in.webp') no-repeat center center;
    background-size: cover;
}

#welcome-text {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: normal;
    width: auto;
    height: auto;
    padding-top: 50px;
    color: darkmagenta;
    top: 15%;
    left: 27%;
    position: absolute;
}

/* ------------------------------------ ABOUT --------------------------------- */

#about {
    background-color: #f2ebbf;
    margin-top: -25px;
    margin-bottom: -25px;
    line-height: 1.5;
}

#about h1 {
    text-align: center;
    padding-top: 20px;
    color: brown;
}

#about p {
    padding-left: 50px;
    padding-right: 50px;
    color: brown;
}

/* ------------------------------------ FOOD --------------------------------- */

#food {
    background-color: #f2ebbf;
    margin-top: -25px;
    line-height: 1.5;
}

#food h1 {
    text-align: center;
    padding-top: 20px;
    color: brown;
}

#food h2, #food p {
    color: brown;
}

#food p {
    padding-left: 50px;
    padding-right: 50px;
}

div.container {
    text-align: center;
  }

ul.list {
    display: inline-block;
    text-align: left;
    color: brown;
    margin-top: 0;
}

/* ------------------------------------ GRID HIW+MOVIES --------------------------------- */

#grid1 {
    background-color: white;
    height: auto;
    color: #505050;
}

#grid1 p {
    color: #505050;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px 5px;
    text-align: center;
}

@media (min-width: 50em) {
    .grid {
        grid-auto-flow: column;
    }
}

#grid2 div {
    height: 300px;
    width: auto;
    margin-top: 70px;
}

.grid h2 {
    text-align: center;
}

.grid p {
    text-align: center;
}

#hiw {
    text-align: center;
    margin: 25px 0;
    font-size: 200%;
    background-color: white;
    color: #505050;
    margin-bottom: -1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#movies {
    text-align: center;
    padding-top: 120px;
    font-size: 250%;
    margin: 0 auto;
}

#movie2mon, #movie2sat {
    background: url('../images/noexit.webp') no-repeat center center;
    background-size: contain;
    color: aliceblue;
}

#movie1mon, #movie1sat {
    background: url('../images/avatar.webp') no-repeat center center;
    background-size: contain;
    color: aliceblue;
}

#movie1sat h2, #movie2sat h2, #movie1mon h2, #movie2mon h2 {
    font-size: 200%;
}

.moviesbody {
    margin: 0 auto;
}

/* ------------------------------------ BODIES --------------------------------- */

.homebody, .contactsbody {
    background-color: #707070;
    margin: -20px auto auto auto;
}

.faqbody {
    margin: 0 auto;
    margin-top: -20px !important;
    background: url('../images/drive-in2.webp');
    background-size: cover;
}

.moviesbody {
    background: url('../images/drive-in2.webp') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-color: #d1d1d1;
    margin-top: -20px !important;
}

.contactsbody {
    background: url('../images/drive-in2.webp') no-repeat;
    background-size: cover;
}

hr {
    border-top: 2px solid grey; 
    width: 100%;
    margin: 5px 0;
}

/* ------------------------------------ FAQ --------------------------------- */

.faq, .faq2 {
    text-align: center;
    color: #f4c430;
}

.faq {
    padding-top: 120px;
    margin: 0 auto;
}

#faq p {
    color:white;
    line-height: 1.5;
}

#faq h3 {
    color: #f4c430;
}

#faq {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

#questions {
    text-align: center;
    color: rgb(231, 188, 47);
    padding-top: 15px;
}

/* ------------------------------------ CONTACTS --------------------------------- */

#button:hover {
    background-color: rgb(115, 166, 135) !important;
 }

#message {
    height: 300px;
    width: 400px;
    margin: 10px;
 }

#name, #email {
    width: 400px;
    margin: 10px;
}

#contacts {
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    color: white;
    line-height: 1.5;
}

#contacts h1 {
    color: white;
    font-size: 200%;
}

#contacts p {
    color: white;
}

#map {
    height: 250px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

#thankyou {
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    color: white;
    line-height: 1.5;
    }

/* ------------------------------------ SOCIAL MEDIA --------------------------------- */

.sm {
    text-align: center;
    color: white;
    padding-left: 0;
}

#moviessm {
    margin: 0; 
    padding: 0 0 10px 0;
}

.sm li {
    display:  inline;
}

.sm i {
    font-size: 150%;
    margin: 0 50px 0 50px;
    color: white;
}

/* ------------------------------------ MEDIA QUERIES --------------------------------- */

@media screen and (max-width:375px) {
    #movie1sat h2, #movie2sat h2, #movie1mon h2, #movie2mon h2 {
        font-size: 150%;
    }

    #movie2mon, #movie2sat, #movie1mon, #movie1sat {
        background-size: 240px;
    }
} 

@media screen and (max-width:425px) {
    #menu {
      margin: -50px 0 -50px -20px !important;
    }

    #menu li {
       font-size: 1.2em;
    }

    #movies {
        padding-top: 100px !important;
      }
  
    #grid2 div {
      height: 200px;
      width: auto;
      margin-top: 70px;
      }

    .grid {
        margin: auto 10px;
        grid-template-columns: repeat(1, minmax(100px, 1fr)) !important;
    }

  
    #moviessm {
      margin: 50px 0 0 0; 
      padding: 0 0 10px 0;
    }

    #contacts h1 {
        padding-top: 16px;
    }

    #faq h1 {
        padding-top: 100px;
    }
  }

  @media screen and (max-width:768px) {
    #grid2 div {
        height: 400px !important;
        width: auto;
        margin-top: 20px !important;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 10px 10px;
    }

    #moviessm {
        margin: 50px 0 0 0; 
        padding: 0 0 10px 0;
    }

    #movies {
        padding-top: 80px;
    }

    #contacts {
        padding-top: 60px !important;
    }


    #movie1sat h2, #movie2sat h2, #movie1mon h2, #movie2mon h2 {
        font-size: 180%;
    }

    #movie2mon, #movie2sat, #movie1mon, #movie1sat {
        background-size: 260px;
    }

    #message {
        height: 200px;
        width: 300px;
        margin: 10px;
     }
    
    #name, #email {
        width: 300px;
        margin: 10px;
    }

    .faq {
        padding-top: 80px;
        margin: 0 auto;
    }
} 

@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
    }

    .sm i {
        font-size: 150%;
        margin: 0 13px 0 13px;
        color: white;
    }

    #menu li {
        margin-right: 4px;
    }

    #about p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    
    #food p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    
    #grid1 p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    
    #faq {
        margin: auto 20px auto 20px;
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
    }

    .faq {
        font-size: 150%;
    }

    #contacts h1 {
        font-size: 150%;
    }

    #logo, #menu {
        font-size: small;
        margin: 0;
    }

    #movies {
        font-size: 150%;
        margin: 0;
    }

    .moviesbody {
        margin: auto 0 auto 0;
    }

    #welcome-text {
        padding-top: 3px;
        padding-right: 3px;
        top: 15%;
        left: 1%;
        position: absolute;
        text-align: center;
    }
}

@media screen and (max-width:1024px) {
    #grid2 div {
        height: 400px;
        width: auto;
        margin-top: 10px;
    }

    .grid {
        margin: auto;
    }

    #moviessm {
        margin: 0; 
        padding: 0 0 10px 0;
    }

    #movie1sat h2, #movie2sat h2, #movie1mon h2, #movie2mon h2 {
        font-size: 135%;
    }
} 

@media screen and (max-width:1200px) {
    hr {
        display: none;
    }
}

@media screen and (max-width:1440px) {
    #grid2 div {
        height: 400px;
        width: auto;
        margin-top: 70px;
    }

    #movie1mon h2, #movie2mon h2 {
        font-size: 180%;
    }

    #movie1sat h2, #movie2sat h2 {
        font-size: 170%;
    }

    #movie2mon, #movie2sat, #movie1mon, #movie1sat {
        background-size: 250px;
    }

    #moviessm {
        margin: 0 !important; 
        padding: 0 0 10px 0 !important;
    }  

    #contacts {
        padding-top: 80px;
    }
} 

@media screen and (max-width:5000px) {
    #grid2 div {
        height: 600px;
        width: auto;
        margin-top: 70px;
    }

    #moviessm {
        padding: 100px 0 10px 0;
    }
} 